.blog .img {
    display: flex;
    flex: 1;
}


.blog img {
    display: block;
    object-fit: cover;
    flex: 1;
    width: 500px;
    height: 320px;
}

.blog img:hover {
    cursor: pointer;
    background-color: #6b9e99;
}

.blog .text {
    padding: 40px 30px;
}

.blog .text:hover {
    cursor: pointer;
    background-color: #365a57;
    transition: 0.9s;
}

.blog h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    margin: 20px 0;
    transition: 0.8s;
}

.blog h1:hover {
    color: #1eb2a6;
    cursor: pointer;
}

.blog span {
    text-transform: uppercase;
    font-weight: 500;
    color: #1eb2a6;
}

.blog span label {
    margin-left: 10px;
    color: grey;
    font-size: 14px;
}

.blog span:nth-last-child(1) label {
    color: #1eb2a6;
}

.blog p {
    color: grey;
}


